/* HOME PAGE */
body{
  margin: 0;
  padding: 0;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/cardboard_flat.png");
  min-height: 900px;
}
.App {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 1px;
}
.car{
  text-align: center;
  margin: 40px;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(218, 218, 218));
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  /* shadow */
  -webkit-box-shadow: 10px 10px 84px -32px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 84px -32px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 84px -32px rgba(0,0,0,0.75);
  filter: brightness(0.90);
}
.car:hover{
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px 1px rgba(31, 31, 31, 0.4);
  -moz-box-shadow: 10px 10px 5px 1px rgba(36, 36, 36, 0.4);
  box-shadow: 10px 10px 5px 1px rgba(37, 37, 37, 0.4);
  filter:brightness(1.0);
  transition: all 0.4s ease-in-out;
  transform: scale(1.03);
}
.car img{
  width: 40%;
  height: 80%;
  padding-right: 5px;
  position: relative;
  left: 1%;
  margin: 10px;
}
.infoWithPhoto{
  display: flex;
  justify-content: center;
}
.moreInfoKeys{
  padding-left: 40px;
  width: 30%;
  text-align: left;
  position: relative;
  right: 3%;
}
.moreInfoValues{
  width: 30%;
  text-align: left;
  position: relative;
  left: 4%;
  font-weight: bold;
}
.brand{
  line-height: 5px;
}
.model{
  line-height: 5px;
}
.row{
  width: 100%;
}
.customNavBg{
  background-color: rgb(143, 143, 143);
  font-size: 20px;
}
.form-inline p{
  display: inline-block;
  padding: 0px 8px;
}
.form-inline button{
  color: rgba(8, 8, 8, 0.4);
  border: 2px solid rgba(8, 8, 8, 0.4);
}
.form-inline button:hover{
  color: rgb(160, 160, 160);
  background-color: rgb(110, 110, 110);
  border: 2px solid rgba(51, 51, 51, 0.4);
}
.searchButton{
  margin: 0px 20px
}
.navbar-brand img{
    width: 60px;
}
.nav-link{
  cursor: pointer;
}
.nav-item input{
  background-color: #efefef;
}
.loggedAsStatus{
  font-size: 12px;
  margin-left: 10px;
}
.loggedAsUser{
  font-size: 16px;
}
.loggedAsUser a{
  color: rgb(51, 51, 51);
}
.loggedAsUser a:hover{
  color: rgba(0, 0, 0, 0.781);
}

@media (max-width: 991px){
	/* Wszystko, co znajdzie się pomiędzy klamrami będzie obowiązywać tylko dla szerokości ekranu maks. 575px (max bo wpisaliśmy max-width, inaczej trochę nie ma sensu) */
  ul > li {
    padding-left: 20px;
  }
  .searchButton{
    margin: 10px 0px

  }
  .loggedAsStatus{
    font-size: 12px;
    padding: 10px 10px
  }
  .car{
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    

    
  }
}

/* CREATE CAR */
.inputField{
  padding: 10px;
  margin: 10px;
}
.inputField  p{
  color: red
}
.createCarPage{
  background-color: rgb(160, 160, 160);
  width: 600px;
  padding: 50px;
  margin: 100px auto;
  border-radius: 8px;
  border: 2px solid rgb(110, 110, 110);
  /*Box Shadow*/
  -webkit-box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  -moz-box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
}
.createCarTitle{
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
}
.createCarPage input{
  width: 140px;
}
.createCarPage select{
  width: 140px;
}
#inputImage{
  width: 270px;
  height: 37px;
}
.inputField input{
  float: right;
  width:140px;
  height: 26px;
  background-color: #efefef;
  color: #666666;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 0px;
  font-size: 18px;
  margin-bottom: 20px;
}
.inputField select{
  float: right;
  width:140px;
  height: 26px;
  background-color: #efefef;
  color: #666666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  margin-bottom: 20px;
}
.createCarPage button {
  width: 400px;
  background-color: rgb(160, 160, 160);
  border: 2px solid rgb(97, 97, 97);
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 30px;
  font-size: 20px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}
.createCarPage button:hover{
  background-color: rgba(51, 51, 51, 0.4);
}








/* CAR */
.carInfo{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.carInfo .brandAndModel{
  text-align: center;
}
.carInfo img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.carInfo .image{
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(143, 143, 143);
}
.carInfo .moreInfo{
  margin: 20px 0px;
  display: flex;
}
.opinions{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid rgb(143, 143, 143);
}
.opinions .opinion{
  border: 1px solid rgb(143, 143, 143);
  border-radius: 8px;
  min-height: 70px;
  padding: 10px;
  margin: 10px;
}
.opinion .opinionCreatedAt{
  text-align: right;
  font-size: 12px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(143, 143, 143);
  padding-top: 10px;
  font-style: italic;
}
.errorMessage{
  color: red;
  margin-left: 10px;
}
.opinionCreatedAt .btn{
  color: rgba(8, 8, 8, 0.4);
  border: 2px solid rgba(8, 8, 8, 0.4);
}
.opinionCreatedAt .btn:hover{
  color: rgb(160, 160, 160);
  background-color: rgb(110, 110, 110);
  border: 2px solid rgba(51, 51, 51, 0.4);
}
.addOpinionContainer .btn{
  color: rgba(8, 8, 8, 0.4);
  border: 2px solid rgba(8, 8, 8, 0.4);
  margin-left: 10px;
}
.addOpinionContainer .btn:hover{
  color: rgb(160, 160, 160);
  background-color: rgb(110, 110, 110);
  border: 2px solid rgba(51, 51, 51, 0.4);
}
.deleteButton{
  text-align: right;
  border-bottom: 2px solid rgb(143, 143, 143);
}
.deleteButton .btn{
  color: red;
  border: 2px solid red;
}
.deleteButton .btn:hover{
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 0, 0, 0.4);
  background-color: red;
}

/* MATERIALUIPICKERS */
.datepickers{
  display: flex;
}

.datepickersWithBtn .btn{
  color: rgba(8, 8, 8, 0.4);
  border: 2px solid rgba(8, 8, 8, 0.4);
  margin-left: 10px;
}
.datepickersWithBtn .btn:hover{
  color: rgb(160, 160, 160);
  background-color: rgb(110, 110, 110);
  border: 2px solid rgba(51, 51, 51, 0.4);
}
.BtnAndOrderConfirmed{
  display: flex;
}
.orderConfirmed{
  padding: 10px 50px;
  color: green;
  
}

/* LOGIN PAGE */
.loginContainer{
  background-color: rgb(160, 160, 160);
  width: 500px;
  padding: 50px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 8px;
  border: 2px solid rgb(110, 110, 110);
  /*Box Shadow*/
  -webkit-box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  -moz-box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  }
  .loginTitle{
    text-align: center;
    padding-bottom: 30px;
    font-size: 24px;
  }
  .loginInputs input{
    width: 400px;
    background-color: #efefef;
    color: #666666;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box; /*wstawiamy tę linijkę, żeby pola login, hasło i zaloguj się miały tę samą długość. Wtedy już padding nie poszerza dodatkowo tych pól*/
    outline: none;
    margin-bottom: 20px;
  }
  .loginInputs input:focus{
    -webkit-box-shadow: 0px 0px 7px 2px rgba(156,156,156,0.9);
    -moz-box-shadow: 0px 0px 7px 2px rgba(156,156,156,0.9);
    box-shadow: 0px 0px 7px 2px rgba(156,156,156,0.9);
    border: 2px solid rgb(97, 97, 97);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .loginButton button{
    width: 400px;
    background-color: rgb(160, 160, 160);
    border: 2px solid rgb(97, 97, 97);
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 10px;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
  }
  .loginButton button:hover{
    background-color: rgba(51, 51, 51, 0.4); 
  }

  /* REGISTER PAGE */
.registrationContainer{
  background-color: rgb(160, 160, 160);
  width: 500px;
  padding: 50px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 8px;
  border: 2px solid rgb(110, 110, 110);
  /*Box Shadow*/
  -webkit-box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  -moz-box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
}
.registrationTitle{
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
}
.registrationInputs input{
  width: 380px;
  background-color: #efefef;
  color: #666666;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box; /*wstawiamy tę linijkę, żeby pola login, hasło i zaloguj się miały tę samą długość. Wtedy już padding nie poszerza dodatkowo tych pól*/
  outline: none;
  margin-bottom: 20px;
  margin-left: 0px;
}
.registrationInputs input:focus{
  -webkit-box-shadow: 0px 0px 7px 2px rgba(156,156,156,0.9);
  -moz-box-shadow: 0px 0px 7px 2px rgba(156,156,156,0.9);
  box-shadow: 0px 0px 7px 2px rgba(156,156,156,0.9);
  border: 2px solid rgb(97, 97, 97);
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.registrationButton button{
  width: 380px;
  background-color: rgb(160, 160, 160);
  border: 2px solid rgb(97, 97, 97);
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 10px;
  font-size: 20px;
  box-sizing: border-box;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  margin-left: 10px
}
.registrationButton button:hover{
  background-color: rgba(51, 51, 51, 0.4); 
}
.toLogin{
  margin: 10px 10px;
}
.toLogin a{
  color: rgb(51, 51, 51);
}
.toLogin a:hover{
  color: rgb(0, 0, 0);
}
.wrongPassword{
  margin: 10px 10px;
  color: red;
}
.agreement{
  display: flex;
  margin-left: 10px;
}
.agreement input{
  margin-left: 40px;
  width: 25px;
  height: 25px;
}
.agreement input:checked{
  outline-offset: -2px;
  filter: grayscale(1)
}
.notAccepted{
  margin-bottom: 10px;
  margin-left: 10px;
  color: red;
}
.userExists{
  margin: 10px 10px;
  color: red;
}

/* PROFILE PAGE */

.profilePageContainer{
  background-color: rgb(160, 160, 160);
  width: 900px;
  padding: 50px;
  margin: 100px auto;
  border-radius: 8px;
  border: 2px solid rgb(110, 110, 110);
  /*Box Shadow*/
  -webkit-box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  -moz-box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
  box-shadow: 10px 10px 30px 5px rgba(156,156,156,0.9);
}
.profilePageContainer .accountCreatedAt{
  border-bottom: 2px solid rgb(143, 143, 143);
}
.profilePageContainer .table td{
  width: 50%;
}
.profilePageContainer .opinions{
  width: 800px;
  padding: 10px 0px;
}
.profilePageContainer  .opinion{
  width: 800px;
  margin: 10px 0px;
}
.profilePageContainer  .opinionCreatedAt{
  color: #212529;
}



  





