/* HOME PAGE */
body{
  margin: 0;
  padding: 0;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/cardboard_flat.png");
}
.App {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.container{

}
.car{
  text-align: center;
  margin: 40px;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(245, 245, 245), rgb(218, 218, 218));
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  /* shadow */
  -webkit-box-shadow: 10px 10px 84px -32px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 84px -32px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 84px -32px rgba(0,0,0,0.75);
}
.car:hover{
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px 1px rgba(31, 31, 31, 0.4);
  -moz-box-shadow: 10px 10px 5px 1px rgba(36, 36, 36, 0.4);
  box-shadow: 10px 10px 5px 1px rgba(37, 37, 37, 0.4);
}
.car img{
  width: 40%;
  height: 80%;
  padding-right: 30px;
  position: relative;
  left: 1%;
  margin: 10px;
}
.infoWithPhoto{
  display: flex;
  justify-content: center;
}
.moreInfoKeys{
  padding-left: 30px;
  width: 30%;
  text-align: left;
  position: relative;
  right: 3%;
}
.moreInfoValues{
  width: 30%;
  text-align: left;
  position: relative;
  left: 4%;
  font-weight: bold;
}
.brand{
  line-height: 5px;
}
.model{
  line-height: 5px;
}
.row{
  width: 100%;
}
.customNavBg{
  background-color: rgb(143, 143, 143);
  font-size: 20px;
}
.form-inline p{
  display: inline-block;
  padding: 0px 8px;
}
.form-inline button{
  color: rgba(8, 8, 8, 0.4);
  border: 2px solid rgba(8, 8, 8, 0.4);
}
.form-inline button:hover{
  color: rgb(160, 160, 160);
  background-color: rgb(110, 110, 110);
  border: 2px solid rgba(51, 51, 51, 0.4);
  }
  .navbar-brand img{
    width: 40px;
  
  }

/* CREATE CAR */
.inputField{
  padding: 10px;
}
.inputField  p{
  color: red
}

